
@{
    ViewBag.Title = "Get All Doctors";

}
@inject BLL.Services.IDoctorService doc

<div class="x_content mt-0">
    <div class="page-title">
        <h2 class="p-2 rounded">Doctors</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
                <li class="breadcrumb-item" aria-current="page"> Doctors</li>
            </ol>
        </nav>
    </div>

    <div class="clearfix"></div>
    <div class="row mt-2">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel roundedspan">
                <div id="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">

                            @foreach (var item in doc.GetAll())
                            {
                                <div class="col-lg-3 col-md-6 col-sm-12" id="cardInf">
                                    <div class="card shadow">

                                        <div class="body text-center doctor-info">
                                            <div class="chart easy-pie-chart-1" data-percent="75">
                                                <span>
                                                    <img id="getPhoto" src="~/Files/Photos/@item.Photo"
                                                         class="img-fluid rounded-circle" alt="Frank Camly"
                                                         title="Frank Camly">
                                                </span> <canvas height="100" width="100"></canvas>
                                            </div>
                                            <h6 class="mb-0">
                                                <a asp-action="ViewDoctor" asp-controller="Doctor" asp-route-id="@item.Id" id="getName" title="">
                                                    @item.Name
                                                </a>
                                            </h6>
                                            <small id="getDept"></small>
                                            <ul class="social-links list-unstyled d-flex justify-content-evenly">
                                                <li>
                                                    <a title="facebook" href="javascript:void(0);"> <i class="fa-brands fa-facebook-f p-2 rounded"></i></a>
                                                </li>
                                                <li>
                                                    <a title="twitter" href="javascript:void(0);">
                                                        <i class="fa-brands fa-whatsapp p-2 rounded"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="instagram" href="javascript:void(0);"> <i class="fa-brands fa-twitter p-2 rounded"></i></a>
                                                </li>
                                            </ul>
                                            <p>  @item.DepartmentName  </p>
                                            <div class="form-group mb-4 pt-2 card-form">
                                                <!-- <a href="view-doctor.html" class="btn btn-primary">Edit</a> -->
                                                <a onclick="Delete(@item.Id)" id="btnDelete">
                                                    <button class="btn btn-outline-danger delete">
                                                        delete
                                                    </button>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }



                            <div class="col-lg-3 col-md-6 col-sm-12 mt-2 ">
                                <div class="card add shadow ">
                                    <div class="body text-center doctor-info ">
                                        <div class="p-t-80 p-b-80 ">
                                            <h6>Create New <br> Docter</h6>
                                            <a asp-action="Create" asp-controller="Doctor" class="btn btn-outline-primary m-t-10 ">
                                                <i class="fa fa-plus-circle "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script type="text/javascript">

    function Delete(id) {
        swal({
            title: `Are you sure you want to delete this record?`,
            text: "If you delete this, it will be gone forever.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({

                        type: "POST",
                        url: "/Doctor/Delete",
                        data: {
                            id: id,

                        },

                        success: function (res) {

                            swal("Deleted!", "Your imaginary file has been archived.", "success");
                            window.location = "/Doctor/GetAllDoctor"

                        }

                    });
                }
            });
    }


</script>
