@model IdentityUser
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<form asp-controller="Users" asp-action="Delete" class="form-group">


    <input type="hidden" asp-for="Id" />


    <label asp-for="UserName">User Name</label>
    <input type="text" placeholder="User Name" asp-for="UserName" class="form-control" readonly />
    <br />

    <center>
        <input type="submit" value="Delete" class="btn btn-primary btn-block" />
    </center>

</form>