@model IdentityUser
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<input type="text" asp-for="UserName" class="form-control" readonly />

<br />

<a asp-controller="Users" asp-action="GetUsers" class="btn btn-primary Submit">Go To Users</a>

