@model IEnumerable<IdentityUser>
@{
    ViewBag.Title = "GetUsers";
}

<h2>Get Users</h2>

<table class="table-Visitors table table-striped w-100">
    <thead >
        <tr class="table-dark">
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>  <p>@item.UserName</p></td>
            <td>
                <a asp-action="Details" asp-controller="Users" asp-route-id="@item.Id"><i style="font-size:large" class="fa fa-eye"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id"><i style="font-size:large" class="fa fa-edit"></i></a>
                @*<a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id"><i style="font-size:large" class="fa fa-trash"></i></a>*@
            </td>
           

        </tr>
        }
    </tbody>
</table>