@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="a">


    
</div>
<script src="~/signalr/dist/browser/signalr.min.js"></script>
<script src="~/signalr/JavaScript.js"></script>