 @model DAL.Models.PatientLabViewModel
 @{
     ViewBag.Title = "Patient Analysis Details";
     int id = ViewBag.id;
}

@*@inject BLL.Services.PatientLabServices.IPatientLabServices GetData
@{
    var data = GetData.GetByID(id);
}*@
@*@inject BLL.Services.PatientServices.IPatientServices patientData;
@{ int patientId = Model.PatientId;}
@{var PatientData = await patientData.GetByID(patientId);}*@
<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">Patient Analysis Details</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Patient Analysis Details
            </li>
        </ol>
    </nav>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix mt-4 " id="radiology">
                <!--Lab name -->
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="form-floating input-group">
                        <span class="input-group-text">
                            <i class="fa fa-flask"></i>
                        </span>
                        <p class="form-control ">Lab Name :@Model.LapName </p>
                    </div>
                </div>
                <!--boctor name  -->
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="form-floating input-group">
                        <span class="input-group-text">
                            <i class="fas fa-user-md"></i>
                        </span>
                        <p class="form-control ">Doctor Name : @Model.DoctorName </p>
                    </div>
                </div>
                <div class="row">
                    <!--date and time  -->
                    <div class="col-md-6 col-sm-12 mb-3">
                        <div class="form-floating input-group">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <p class="form-control ">Date And Time :@Model.DateAndTime </p>
                        </div>
                    </div>

                </div>


                @* <div class="row">
                        <!--download  operation  -->
                        <div class="col-md-6 col-sm-12 mb-3">
                            <a class="btn btn-info " href="" download>
                                Download
                            </a>
                            <a class="btn btn-secondary" href="" download>
                                <i class="fas fa-print"></i>
                            </a>
                        </div>
                    </div>*@

            </div>
        </div><!-- /.container-fluid -->
        <div class="row">
            <div class="col-md-6 col-sm-12 ">
                <h1>Document Result</h1>
                <iframe class="w-100" style="height: 400px;" src="~/Files/LabResults/Documents/@Model.Document"></iframe>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <h1>Photo Result</h1>
                <img class="w-100" style="height: 400px;" src="~/Files/LabResults/Photos/@Model.Photo">

            </div>
        </div>
        <div>
            <input style="margin:20px" type="button" class="btn btn-primary" value="Back" onclick="history.back()" />

        </div>
    </section>
    <!-- /.content -->
    <script>
        // to add row of newradiology
        let radiology = document.getElementById('radiology');




        onclick = () => {
            more = document.querySelectorAll('.more');

            let newradiology = document.createElement('div');
            newradiology.classList.add('row')

            // creat new newradiology
            newradiology.innerHTML =
                ' <div class="col-md-6 col-sm-12  mb-3">' +
                '<div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none"role="alert">You should check in on some of those fields below.' +
                '<button type="button" class="btn-close" data-bs-dismiss="alert"aria-label="Close"></button>' +
                ' </div>' +
                '<div class="form-floating mt-3">' +
                '  <select class="form-select form-control form-control show-tick input"placeholder="radiology">' +
                '  <option selected>- radiology -</option>' +
                '<option value="radiology"> radiology </option>' +
                ' <option value="radiology"> radiology</option>' +
                '  </select>' +
                '  <label for="radiology">- radiology -</label>' +
                '  </div>' +
                '</div>' +
                '<div class="col-11 col-sm-11 col-md-5  mb-3">' +
                ' <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none"role="alert">You should check in on some of those fields below.' +
                ' <button type="button" class="btn-close" data-bs-dismiss="alert"aria-label="Close"></button>' +
                '</div>' +
                ' <div class="form-floating mt-3">' +
                ' <select class="form-select form-control form-control show-tick input"placeholder="price ">' +
                ' <option selected>- price -</option>' +
                ' <option value="30"> 30 </option>' +
                '  <option value="33"> 33</option>' +
                '    </select>' +
                ' <label for=" price">- price -</label>' +
                '   </div>' +
                '  </div>' +
                ' <div class="col-1 col-sm-1 col-md-1  mb-4">' +
                '  <button type="button" class="btn btn-primary mt-4 more">+</button>' +
                '</div>'

            for (let i = 0; i < more.length; i++) {
                more[i].addEventListener('click', () => {
                    radiology.appendChild(newradiology)
                })
            }
        }



    </script>
    <!-- jQuery -->
    <script src="~/receptionist dashbord/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/receptionist dashbord/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/receptionist dashbord/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/receptionist dashbord/dist/js/demo.js"></script>

