@model DAL.Models.PatientLabViewModel
@{
    ViewBag.Title = "Patient Analysis Details";
    Layout = "~/Views/Shared/Layout/_ReseptionistLayout.cshtml";
    int id = ViewBag.id;
}

@*@inject BLL.Services.PatientLabServices.IPatientLabServices GetData
    @{
        var data = GetData.GetByID(id);
    }*@
@section PageHeader{
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Patient Analysis Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Patient Analysis Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix mt-4 " id="radiology">
            <!--Lab name -->
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="form-floating input-group">
                    <span class="input-group-text">
                        <i class="fa fa-flask"></i>
                    </span>
                    <p class="form-control ">Lab Name :@Model.LapName </p>
                </div>
            </div>
            <!--boctor name  -->
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="form-floating input-group">
                    <span class="input-group-text">
                        <i class="fas fa-user-md"></i>
                    </span>
                    <p class="form-control ">Doctor Name : @Model.DoctorName </p>
                </div>
            </div>
            <div class="row">
                <!--date and time  -->
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="form-floating input-group">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                        <p class="form-control ">Date And Time :@Model.DateAndTime </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <div class="row">
        @*Analysis Document report*@
        <div class="col-md-4 col-sm-12 ">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#documentreport">
                View Analysis Document
            </button>

            <!-- Modal -->
            <div class="modal fade" id="documentreport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Document Result</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1></h1>
                            <iframe class="w-100" style="height: 400px;" src="~/Files/LabResults/Documents/@Model.Document"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Analysis Photo report*@
        <div class="col-md-4 col-sm-12 ">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#photoreport">
                View Analysis Photo Report
            </button>

            <!-- Modal -->
            <div class="modal fade" id="photoreport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Photo Result</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1></h1>
                            <iframe class="w-100" style="height: 400px;" src="~/Files/LabResults/Photos/@Model.Photo"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <br /><br />
        <button onclick="history.back()" class="btn btn-secondary"><i class="fas fa-angle-double-left"></i> Back </button>
    </div>
</section>
<!-- /.content -->
<script>
    // to add row of newradiology
    let radiology = document.getElementById('radiology');

    onclick = () => {
        more = document.querySelectorAll('.more');

        let newradiology = document.createElement('div');
        newradiology.classList.add('row')

        // creat new newradiology
        newradiology.innerHTML =
            ' <div class="col-md-6 col-sm-12  mb-3">' +
            '<div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none"role="alert">You should check in on some of those fields below.' +
            '<button type="button" class="btn-close" data-bs-dismiss="alert"aria-label="Close"></button>' +
            ' </div>' +
            '<div class="form-floating mt-3">' +
            '  <select class="form-select form-control form-control show-tick input"placeholder="radiology">' +
            '  <option selected>- radiology -</option>' +
            '<option value="radiology"> radiology </option>' +
            ' <option value="radiology"> radiology</option>' +
            '  </select>' +
            '  <label for="radiology">- radiology -</label>' +
            '  </div>' +
            '</div>' +
            '<div class="col-11 col-sm-11 col-md-5  mb-3">' +
            ' <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none"role="alert">You should check in on some of those fields below.' +
            ' <button type="button" class="btn-close" data-bs-dismiss="alert"aria-label="Close"></button>' +
            '</div>' +
            ' <div class="form-floating mt-3">' +
            ' <select class="form-select form-control form-control show-tick input"placeholder="price ">' +
            ' <option selected>- price -</option>' +
            ' <option value="30"> 30 </option>' +
            '  <option value="33"> 33</option>' +
            '    </select>' +
            ' <label for=" price">- price -</label>' +
            '   </div>' +
            '  </div>' +
            ' <div class="col-1 col-sm-1 col-md-1  mb-4">' +
            '  <button type="button" class="btn btn-primary mt-4 more">+</button>' +
            '</div>'

        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', () => {
                radiology.appendChild(newradiology)
            })
        }
    }



</script>
<!-- jQuery -->
<script src="~/receptionist dashbord/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/receptionist dashbord/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="~/receptionist dashbord/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/receptionist dashbord/dist/js/demo.js"></script>

