@{
    ViewData["Title"] = "Patiant Treatment Detalil";
    Layout = "~/Views/Shared/Layout/_ReseptionistLayout.cshtml";
}
@inject BLL.Services.PharmacistWorkServices.IPharmacistWorkServices OrderDetails;

            <!-- uploud  -->
          
                <div class="card">
                    <div class="card-header">
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body patients-wating">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Midicine Name</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var Counter = 1;}
                                @foreach (var item in OrderDetails.OrderDetails(@ViewBag.id))
                                {
                                    <tr>
                                        <td>@(Counter++)</td>
                                        <td>@item.MedicineName</td>
                                        <td>@item.Notes</td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Midicine Name</th>
                                    <th>Notes</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="mt-3">
                    <div class="form-group mb-4 pt-2">
                        <input style="margin:20px" type="button"class="btn btn-primary" value="Back" onclick="history.back()" />
                    </div>
                </div>
            
       
<!-- /.content -->
<script src="~/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Validation Plugin Js -->
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
