@model EmplyeeViewModel

@{
    ViewBag.Title = "Create";
}
@inject BLL.Services.shiftServeses.IShiftServeses shift

<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">Create Emplyee</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Create Emplyee
            </li>
        </ol>
    </nav>
    <form asp-action="Create" asp-controller="Emplyee" enctype="multipart/form-data">
        <!-- Basic Information  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Basic Information</h3>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <!-- Name -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control input" placeholder="Name" required asp-for="Name" />
                                    <label for="floatingInput"> Name</label>
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <!-- id number -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="number" class="form-control input" placeholder="National Number " asp-for="SSN" maxlength="14" required />
                                    <label for="NationalNumber">National Number</label>
                                    <span asp-validation-for="SSN" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- address -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control input" asp-for="Address" placeholder="address" required />
                                    <label for="floatingInput"> address</label>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Date -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="date" data-provide="datepicker" data-date-autoclose="true" asp-for="BirthDate" class="form-control input" placeholder="Date of Birth" required />
                                    <label for="floatingInput">Date of Birth</label>
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- phone -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="number" class="form-control input" asp-for="Phone" placeholder="phone" maxlength="11" required />
                                    <label for="phone">phone</label>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- image -->
                            <div class="col-sm-6 mb-3 image">
                                <div class="input-group mb-3">
                                    <label class="input-group-text image-lable" for="inputGroupFile01">Image</label>
                                    <input type="file" class="form-control form-control-lg " asp-for="PhotoUrl" id="inputGroupFile01">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">

                            <!-- time -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <select class="form-select form-control form-control show-tick input" asp-for="ShiftId" placeholder="Time shift ">
                                        @foreach (var item in shift.GetAll())
                                        {
                                            <option value="@item.Id">@item.StartShift.ToString("t") - @item.EndShift.ToString("t")</option>
                                        }
                                    </select>
                                    <label for="Timeshift">- Time shift -</label>
                                </div>
                            </div>
                            <!-- gender -->
                            <div class="col-sm-6 mb-3">
                                <label class="col-form-label col-sm-3 col-md-2 label-align d-inline">
                                    Gender
                                </label>
                                <div class="col-8 col-sm-8 col-md-8 floatingInput">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="flat " value="male" checked
                                                   name="Gender" />
                                            male
                                        </label>
                                    </div>
                                    <div class="radio mt-1">
                                        <label>
                                            <input type="radio" class="flat" value="female" name="Gender" />
                                            female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Emplyee's Account Information  -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Emplyee's Account Information</h3>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <!--Email  -->
                            <div class="col-sm-12 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="email" class="form-control input" asp-for="Email" placeholder="Enter Your Emai" required />
                                    <label for="floatingInput">Enter Your Email</label>
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control password input" asp-for="Password" placeholder="Password" required name="password" />
                                    <label for="floatingInput">Password</label>
                                </div>
                            </div>
                            <!-- Confirm Password -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control password input" placeholder="Confirm Password" required name="password" @*pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character"*@ />
                                    <label for="floatingInput">Confirm Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Emplyee Social Media Info -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Emplyee Social Media Info</h3>
                    </div>
                    <div class="body social">
                        <div class="row clearfix">
                            <!-- facebook -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="facebook">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </span>
                                    <input type="text" for="facebook" asp-for="Facebook" class="form-control" placeholder="facebook" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <!-- twitter -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="twitter">
                                        <i class="fa-brands fa-twitter"></i>
                                    </span>
                                    <input type="text" for="twitter" asp-for="Twitter" class="form-control" placeholder="twitter" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <!-- whatsapp -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="whatsapp">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </span>
                                    <input type="text" for="whatsapp" asp-for="Whatsapp" class="form-control" placeholder="whatsapp" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="button-submit">
                    <div class="body social">
                        <div class="row clearfix">
                            <div class="form-group mb-4 pt-2">
                                <button onclick="Success()" type="submit" class="btn btn-primary Submit">Submit</button>
                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Validation Plugin Js -->
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
        if (@ViewBag.Success == 1) {
            swal({
                title: "Success!",
                text: "Created Successfully",
                type: "success"
            }).then(function () {
                window.location = "/Emplyee/GetAll";
            });
        }
</script>