@model DAL.Entities.Department
@{
    ViewBag.Title = "Create";

}
@inject BLL.Services.IDoctorService Doc ;


<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">add departement</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Add departement
            </li>
        </ol>
    </nav>
    <form style="height: 100vh;" asp-controller="Department" asp-action="Create">
        <!-- Basic Information  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>departement Information</h3>
                    </div>
                    <div class="body">
                        <!-- departement Name -->
                        <div class="row clearfix">
                            <div class="col-sm-12 mb-4">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control input" placeholder="Departement Name" asp-for="Name" required />
                                    <label for="floatingInput"> Departement Name</label>
                                    <span asp-validation-for="Name" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <!-- Department Head -->
                        <div class="row clearfix">
                            <div class="col-sm-12 mb-4">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <select class="form-select form-control form-control show-tick input" placeholder="Doctor Name">
                                        <option selected>- Doctor Name -</option>
                                        @foreach (var item in Doc.GetAll())
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                    <label for="Daywork">- Department Head -</label>
                                </div>
                            </div>
                        </div>
                        <!-- description -->
                        <div class="row clearfix">
                            <div class="col-sm-12 mb-4 image">
                                <div class="form-floating">
                                    <textarea type="text" class="form-control input" placeholder="description"></textarea>
                                    <label for="floatingInput"> description </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="button-submit">
                    <div class="body social">
                        <div class="row clearfix">
                            <div class="form-group mb-4 pt-2">
                                <button type="submit" class="btn btn-primary Submit">Submit</button>
                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>