


@model MedicineViewModel
@{
    ViewData["Title"] = "Edit Medicine";
}
<!-- page content -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">Update Medicine</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Edit Medicine
            </li>
        </ol>
    </nav>
    @if (ViewBag.Medicine != "" && ViewBag.Medicine != "1")
    {
        <script>
            swal("Saved Success!", "You clicked the button!", "success");

        </script>
    }


    <form asp-controller="Medicine" asp-action="UpdateMedicine" method="post" style="height: 100vh;">
        <!-- Basic Information  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Medicine Information</h3>
                    </div>
                    <div class="body">
                        @*Validation*@
                        @if (ViewBag.Rap == "1")
                        {
                            <div class="row clearfix">
                                <div class="col-sm-12 mb-4">
                                    <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 " role="alert">
                                        Please Change Medicine Name  it Used befoer
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <div class="form-floating">
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Medicine Name -->
                        <div class="row clearfix">
                            <div class="col-sm-12 mb-4">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input asp-for=Name type="text" class="form-control input" placeholder="Medicine Name" required />
                                    <label for="floatingInput">Medicine Name</label>
                                </div>
                            </div>
                        </div>
                        <!-- Medicine Price -->
                        <div class="row clearfix">
                            <div class="col-sm-12 mb-4">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input asp-for=Price type="text" class="form-control input" placeholder="Medicine Price" required />
                                    <label for="floatingInput">Medicine Price</label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- Medicine Count -->
                            <div class="row clearfix">
                                <div class="col-sm-12 mb-4">
                                    <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                        You should check in on some of those fields below.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <div class="form-floating">
                                        <input asp-for=Count type="number" class="form-control input" placeholder="Medicine Count" required />
                                        <label for="floatingInput">Medicine Count</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Medicine Count -->
                            <div class="row clearfix">
                                <div class="col-sm-12 mb-4">
                                    <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                        You should check in on some of those fields below.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <div class="form-floating">
                                        <input asp-for=StartDate type="date" class="form-control input" placeholder="Medicine Start Date" required />
                                        <label for="floatingInput">Medicine Start Date</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Medicine Count -->
                            <div class="row clearfix">
                                <div class="col-sm-12 mb-4">
                                    <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                        You should check in on some of those fields below.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <div class="form-floating">
                                        <input asp-for=EndDate type="date" class="form-control input" placeholder="Medicine End Date" required />
                                        <label for="floatingInput">Medicine End Date</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="button-submit">
                    <div class="body social">
                        <div class="row clearfix">
                            <div class="form-group mb-4 pt-2">
                                <button onclick="history.back()" class="btn btn-secondary"><i class="fas fa-angle-double-left"></i> Back</button>

                                <button type="submit" class="btn  Submit">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button onclick="history.back()" class="btn btn-secondary"><i class="fas fa-angle-double-left"></i> Back </button>

</div>
<!-- /page content -->
<!-- footer content -->
<!-- /footer content -->
<!-- move to up -->
<div class="up-btn shadow position-fixed rounded-lg" id="moveTop">
    <button type="button" class="btn btn-lg shadow text-light m-0">
        <i class="fa-solid fa-turn-up"></i>
    </button>
</div>

<!-- js -->
<script>
    let alert = document.querySelectorAll('.alert')
    input = document.querySelectorAll('.input');

    for (let i = 0; i < input.length; i++) {
        input[i].addEventListener('keyup', () => {
            if (input[i].value === "")
                alert[i].classList.remove('d-none')
            else
                alert[i].classList.add('d-none')
        })
    }
</script>






