@model DAL.Models.PatiantVM

@{
    ViewData["Title"] = "AddPatient";
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>HCR | add patient</title>

    <!-- Font Awesome -->
    <link href="~/vendors/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/dist/css/en/main.css" rel="stylesheet" />
    <!-- <link href="../../dist/scss/ar/ar-main.css" rel="stylesheet" /> -->
</head>

<body class="bg-white">
    <div class="row  add-patient m-0">
        <div class="col-12 col-md-6 mt-5 ps-5">
            <h1 class="mt-5">new patient registration</h1>
            <form asp-controller="pataint" asp-action="AddPatient" method="post" enctype="multipart/form-data" class="mt-5 mb-2">
                <div class="row clearfix">
                    <!-- First Name -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input asp-for=Name type="text" class="form-control" placeholder="Name"  />
                            <label for="floatingInput">First Name</label>
                            <span class="text-danger" asp-validation-for="Name"></span>

                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Last Name"  />
                            <label for="floatingInput">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <!-- id number -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input asp-for=SSN type="number" class="form-control" placeholder="National Number" maxlength="14"  />
                            <label for="NationalNumber">National Number</label>
                            <span class="text-danger" asp-validation-for="SSN"></span>
                        </div>
                    </div>
                    <!-- Phone -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input asp-for=photo type="number" class="form-control" placeholder="Phone" maxlength="11"  />
                            <label for="Phone">Phone</label>
                            <span class="text-danger" asp-validation-for="photo"></span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <!-- Date -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input asp-for=BirthDate type="date" data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="Date of Birth"  />
                            <label for="floatingInput">Date of Birth</label>
                            <span class="text-danger" asp-validation-for="BirthDate"></span>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input asp-for=Address type="text" class="form-control" placeholder="address"  />
                            <label for="Phone ">address</label>
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <!--User name  -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="User name"  />
                            <label for="floatingInput">User name</label>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <!--Email  -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input type="email" class="form-control" placeholder="Enter Your Emai"  />
                            <label for="floatingInput">Enter Your Email</label>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <!-- Password -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input type="password" class="form-control password" placeholder="Password"  name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@@#$%^&*]).{8,}" title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character"
                            />
                            <label for="floatingInput">Password</label>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <!-- Confirm Password -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <div class="form-floating">
                            <input type="password" class="form-control password" placeholder="Confirm Password"  name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@@#$%^&*]).{8,}" title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character"
                            />
                            <label for="floatingInput">Confirm Password</label>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <!-- gender -->
                    <div class="col-sm-6 mb-3 mt-3">
                        <label class="col-form-label col-sm-3 col-md-3 label-align d-inline">
                            Gender
                        </label>
                        <div class="col-8 col-sm-8 col-md-8 floatingInput">
                            <div class="radio">
                                <label>
                                    <input type="radio" class="flat " checked name="iCheck" />
                                    male
                                </label>
                            </div>
                            <div class="radio mt-1">
                                <label>
                                    <input type="radio" class="flat" name="iCheck" />
                                    fmale
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- image -->
                    <div class="col-sm-6 mb-3 mt-3 image">
                        <div class="input-group mb-3 mt-3">
                            <label class="input-group-text image-lable" for="inputGroupFile01">Image</label>
                            <input type="file" class="form-control form-control-lg" id="inputGroupFile01">
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="form-group mb-4 pt-2">
                        <button type="submit" class="btn btn-lg ">Submit</button>
                        <button type="reset" class="btn btn-outline-secondary">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6 bg-patient p-0 border-0 rounded">
        </div>
    </div>
    <!-- js -->
    <!-- Bootstrap -->
    <!-- <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js "></script> -->
    <!-- Custom Theme Scripts -->
    <!-- <script src="../../dist/js/custom.js "></script> -->
</body>

</html>

