@model IdentityRole
@{
    ViewBag.Title = "Create Role";
}

<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">Create Role</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Create Role
            </li>
        </ol>
    </nav>
</div>

<form asp-controller="Roles" asp-action="Create" class="form-group">


    <label asp-for="Name">Role Name</label>
    <input type="text" placeholder="Enter Role" class="form-control" asp-for="Name" autofocus />
    <br />
    <center>
        <input type="submit" value="Save" class="btn btn-primary Submit" />
        <a asp-controller="Roles" asp-action="GetRoles" class="btn btn-secondary"> Cancel </a>
    </center>
   
</form>
