@model IdentityRole
@{
    ViewBag.Title = "Edit Role";
}

<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">Edit Role</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Edit Role
            </li>
        </ol>
    </nav>
</div>

<form asp-controller="Roles" asp-action="Edit" class="form-group">


    <input type="hidden" asp-for="Id" />

    <label asp-for="Name">Role Name</label>
    <input type="text" placeholder="Role Name" asp-for="Name" class="form-control" />
    <br />

    <center>
        <input type="submit" value="Edit" class="btn btn-primary Submit" />
        <a asp-controller="Roles" asp-action="GetRoles"  class="btn btn-primary Submit"> Cancel </a>
    </center>

</form>
<a class="btn btn-primary Submit" asp-controller="Roles" asp-action="EditUserInRole" asp-route-id="@Model.Id">Add Or Remove User With Role</a>