@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "GetRoles";
}

<h2>Get Roles</h2>
<br />
<a asp-controller="Roles" asp-action="Create" class="btn btn-primary Submit">Create New Role</a>
<br /><br />
<table class="table-Visitors table table-striped w-100">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@item.Name</p></td>
                <td>
                    @*<a asp-action="Details" asp-controller="Roles" asp-route-id="@item.Id"><i style="font-size:large" class="fa fa-eye"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;*@
                    <a asp-action="Edit" asp-controller="Roles" asp-route-id="@item.Id"><i style="font-size:large" class="fa fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a asp-action="Delete" asp-controller="Roles" asp-route-id="@item.Id"><i style="font-size:large" class="fa fa-trash danger"></i></a>
                </td>

            </tr>
        }
    </tbody>
</table>