@inject BLL.Services.UsersServices.IUsersServices userData
@inject SignInManager<IdentityUser> signInManager


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Jthemes" />
    <meta name="description" content="HCR - Medical & Medical Health Landing Page Template" />
    <meta name="keywords"
          content="Responsive, HTML5 Template, Jthemes, One Page, Landing, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SITE TITLE -->
    <title>HCR | @ViewBag.Title </title>
    <!-- FAVICON AND TOUCH ICONS  -->
    <link rel="icon" href="~/website/images/logo.png" type="image/logo.png">
    <link rel="icon" href="~/website/images/logo.png" type="image/logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/logo.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/logo.png">
    <link rel="apple-touch-icon" href="~/website/images/logo.png">
    <!-- BOOTSTRAP CSS -->
    <link href="~/website/css/bootstrap.css" rel="stylesheet">
    <!-- FONT ICONS -->
    <link rel="stylesheet" href="~/website/fontawesome/css/all.css">
    <!-- PLUGINS STYLESHEET -->
    <link href="~/website/css/menu.css" rel="stylesheet">
    <link id="effect" href="~/website/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
    <link href="~/website/css/magnific-popup.css" rel="stylesheet">
    <link href="~/website/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/website/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/website/css/animate.css" rel="stylesheet">
    <link href="~/website/css/jquery.datetimepicker.min.css" rel="stylesheet">
    <!-- TEMPLATE CSS -->
    <link href="~/website/css/style.css" rel="stylesheet">
    <!-- RESPONSIVE CSS -->
    <link href="~/website/css/responsive.css" rel="stylesheet">

</head>


<body>




    <!-- PRELOADER SPINNER
        ============================================= -->
    <div id="loader-wrapper">
        <div id="loader">
            <div class="loader-inner"></div>
        </div>
    </div>









    <!-- PAGE CONTENT
        ============================================= -->
    <div id="page" class="page">




        <!-- HEADER
        ============================================= -->
        <header id="header" class="header">


            <!-- MOBILE HEADER -->
            <div class="wsmobileheader clearfix">
                <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                <span class="smllogo"><img src="~/website/images/logo.png" width="50" height="auto" alt="mobile-logo" /></span>
                <a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i></a>
            </div>


            <!-- HEADER STRIP -->
            <div class="headtoppart bg-blue clearfix">
                <div class="headerwp clearfix">

                    <!-- Address -->
                    <div class="headertopleft">
                        <div class="address clearfix">
                            <span><i class="fas fa-map-marker-alt"></i>shebin </span> <a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i>(048)-257 57 699</a>
                        </div>
                    </div>

                    <!-- Social Links -->
                    <div class="headertopright">
                        <a class="googleicon" title="Google" href="#">
                            <i class="fab fa-google"></i> <span class="mobiletext02">Google</span>
                        </a>
                        <a class="linkedinicon" title="Linkedin" href="#">
                            <i class="fab fa-linkedin-in"></i> <span class="mobiletext02">Linkedin</span>
                        </a>
                        <a class="twittericon" title="Twitter" href="#">
                            <i class="fab fa-twitter"></i> <span class="mobiletext02">Twitter</span>
                        </a>
                        <a class="facebookicon" title="Facebook" href="#">
                            <i class="fa-brands fa-facebook-f"></i> <span class="mobiletext02">Facebook</span>
                        </a>
                    </div>

                </div>
            </div> <!-- END HEADER STRIP -->
            <!-- NAVIGATION MENU -->

            <div class="wsmainfull menu clearfix">
                <div class="wsmainwp clearfix">
                    <div class="d-flex w-100 justify-content-between">
                        <!-- LOGO IMAGE -->
                        <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80 pixels) -->
                        <div class="desktoplogo">
                            <a href="demo-1.html">
                                <img src="~/website/images/logo.png" width="60"
                                     height="auto" alt="header-logo">
                            </a>
                            
                        </div>

                        <!-- MAIN MENU -->
                        <nav class="wsmenu clearfix">
                            <ul class="wsmenu-list">


                                <!-- DROPDOWN MENU -->
                                <li aria-haspopup="true">
                                    <a asp-action="Home" asp-controller="HCRWebsite">Home</a>

                                </li> <!-- END DROPDOWN MENU -->
                                <!-- PAGES -->
                                <li aria-haspopup="true">
                                    <a asp-action="AboutUs" asp-controller="HCRWebsite">About Us</a>

                                </li> <!-- END PAGES -->
                                <!-- HALF MENU -->
                                <!-- MEGAMENU -->
                                <li aria-haspopup="true">
                                    <a asp-action="Services" asp-controller="HCRWebsite">Services</a>

                                </li> <!-- END MEGAMENU -->
                                <!-- SIMPLE NAVIGATION LINK -->
                                <li class="nl-simple" aria-haspopup="true"><a asp-action="Blog" asp-controller="HCRWebsite">Blog</a></li>
                                <li aria-haspopup="true">
                                    <a asp-action="Contacts" asp-controller="HCRWebsite">Contacts</a>

                                </li> <!-- END HALF MENU -->
                                <!-- login -->
                                @if (signInManager.IsSignedIn(User))
                                {
                                    var Email = User.Identity.Name;
                                   var DataForUser = await userData.GetUserName(Email);
                                    <li aria-haspopup="true">
                                        <a > @DataForUser.Name</a>
                                  

                                </li> <!-- END login -->
                                <!-- register -->
                                <li aria-haspopup="true">
                                    <a asp-action="Profile" asp-controller="Patient" asp-route-id="@DataForUser.id">Profile</a>

                                </li> 
                                <li aria-haspopup="true">
                                      <form asp-action="LogOff" asp-controller="Account" method="post">
                        <button class="btn btn-save">
                            Log Out
                        </button>
                    </form>
                                </li>
                               <!-- END register -->
                                }
                                else
                                {
                                      <li aria-haspopup="true">
                                    <a asp-action="Login" asp-controller="Account">Login</a>

                                </li> <!-- END login -->
                                <!-- register -->
                                <li aria-haspopup="true">
                                    <a asp-action="Register" asp-controller="HCRWebsite">Register</a>

                                    </li> <!-- END register -->
                                    
                                }


                            </ul>
                        </nav> <!-- END MAIN MENU -->
                    </div>
                </div>
            </div> <!-- END NAVIGATION MENU -->


        </header> <!-- END HEADER -->
        @RenderBody()
        
        <!-- FOOTER-1
        ============================================= -->
        <footer id="footer-1" class="bg-image wide-40 footer division">
            <div class="container">
                <footer class="">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <img src="~/website/images/logo.png" class="w-50" alt="footer-logo">
                            <ul class="foo-socials text-center clearfix mt-4">
                                <li><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>
                                <li>
                                    <a href="#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                                <li><a href="#" class="ico-tumblr"><i class="fab fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-box mb-40">
                                <!-- Title -->
                                <h5 class="h5-xs">Our Location</h5>
                                <!-- Address -->
                                <p><i class="fa-solid fa-map-location-dot"></i> : Shebin El-Kom, Menoufia, Egypt</p>
                                <!-- Email -->
                                <p class="foo-email mt-20">
                                    <i class="fa-solid fa-envelope"></i> : <a href="mailto:info@hcr.com">info@hcr.com</a>
                                </p>
                                <!-- Phone -->
                                <p><i class="fa-solid fa-phone"></i> : +12 9 8765 4321</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <!-- Title -->
                            <h5 class="h5-xs">Working Time</h5>
                            <!-- Working Hours -->
                            <p class="p-sm">Mon-Wed: <span>9:00AM - 7:00PM</span></p>
                            <p class="p-sm">Thursday: <span>9:00AM - 6:30PM</span></p>
                            <p class="p-sm">Friday: <span>9:00AM - 6:00PM</span></p>
                            <p class="p-sm">Sat-Sun: <span>Closed</span></p>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-box mb-40">
                                <!-- Title -->
                                <h5 class="h5-xs">Emergency Cases</h5>
                                <!-- Footer List -->
                                <p class="h5-xl blue-color fs-5"><a href="tel:1-800-123-4560">1-800-123-4560</a></p>
                                <!-- Text -->
                                <p class="p-sm mt-15">
                                    Aliquam orci nullam undo tempor sapien gravida donec enim ipsum
                                    porta
                                    justo velna aucto magna
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center py-4 my-4 border-top pb-0 mb-0">
                        <p class="text-light">&copy; 2021 HCR , Inc. All rights reserved.</p>
                        <ul class="list-unstyled d-flex">
                            <li class="ms-3">
                                <a class="link-dark" href="#">
                                    <svg class="bi" width="24" height="24">
                                        <use xlink:href="#twitter" />
                                    </svg>
                                </a>
                            </li>
                            <li class="ms-3">
                                <a class="link-dark" href="#">
                                    <svg class="bi" width="24" height="24">
                                        <use xlink:href="#instagram" />
                                    </svg>
                                </a>
                            </li>
                            <li class="ms-3">
                                <a class="link-dark" href="#">
                                    <svg class="bi" width="24" height="24">
                                        <use xlink:href="#facebook" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </footer>
            </div><!-- End container -->
        </footer>
        <!-- END FOOTER-1 -->




    </div> <!-- END PAGE CONTENT -->
    <!-- EXTERNAL SCRIPTS
        ============================================= -->
    <script src="~/website/js/jquery-3.3.1.min.js"></script>
    <script src="~/website/js/bootstrap.min.js"></script>
    <script src="~/website/js/modernizr.custom.js"></script>
    <script src="~/website/js/jquery.easing.js"></script>
    <script src="~/website/js/jquery.appear.js"></script>
    <script src="~/website/js/jquery.stellar.min.js"></script>
    <script src="~/website/js/menu.js"></script>
    <script src="~/website/js/sticky.js"></script>
    <script src="~/website/js/jquery.scrollto.js"></script>
    <script src="~/website/js/materialize.js"></script>
    <script src="~/website/js/owl.carousel.min.js"></script>
    <script src="~/website/js/jquery.magnific-popup.min.js"></script>
    <script src="~/website/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/website/js/isotope.pkgd.min.js"></script>
    <script src="~/website/js/hero-form.js"></script>
    <script src="~/website/js/contact-form.js"></script>
    <script src="~/website/js/comment-form.js"></script>
    <script src="~/website/js/appointment-form.js"></script>
    <script src="~/website/js/jquery.datetimepicker.full.js"></script>
    <script src="~/website/js/jquery.validate.min.js"></script>
    <script src="~/website/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/website/js/wow.js"></script>

    <!-- Custom Script -->
    <script src="~/website/js/custom.js"></script>

    <script>
		new WOW().init();
    </script>



    <script src="~/website/js/changer.js"></script>
    <script defer src="~/website/js/styleswitch.js"></script>


</body>


</html>