
@{
    ViewData["Title"] = "ViewAllRoom";
}

 <!-- page content -->
                <div class="right_col" role="main">
                    <div class="x_content mt-0">
                        <h2 class="p-2 rounded ps-3">all room</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">
                                    Home
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                    all room
                                </li>
                            </ol>
                        </nav>
                        <div>
                            <table class="table-Visitors table table-striped w-100">
                                <thead>
                                    <tr class="table-dark">
                                        <th scope="col" class="numbers">#</th>
                                        <th scope="col">room number</th>
                                        <th scope="col">date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status off">not active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status off">not active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status off">not active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status off">not active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="numbers">
                                            <p>1</p>
                                        </th>
                                        <td>
                                            <p class="">Dental</p>
                                        </td>

                                        <th scope="col" class="w">
                                            <p>20/10/22</p>
                                        </th>
                                        <th scope="col" class="w">
                                            <p class="Status on">active</p>
                                        </th>
                                        <td class="w">
                                            <div class="row">
                                                <a href="edit-romms.html" class="col-6 btn edite m-0 p-1" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Edite">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="" class="col-6 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /page content -->
                    <!-- footer content -->
                   
                    <!-- /footer content -->
                </div>
            <!-- move to up -->
            <div class="up-btn shadow position-fixed rounded-lg" id="moveTop">
                <button type="button" class="btn btn-lg shadow text-light m-0"> <i
                        class="fa-solid fa-turn-up"></i></button>
            </div>

            <!-- js -->
            <script>
                let alert = document.querySelectorAll('.alert')
                input = document.querySelectorAll('.input');

                for (let i = 0; i < input.length; i++) {
                    input[i].addEventListener('keyup', () => {
                        if (input[i].value === "")
                            alert[i].classList.remove('d-none')
                        else
                            alert[i].classList.add('d-none')
                    })
                }
            </script>

