@model DAL.Models.NurseViewModel

@{
    ViewData["Title"] = "AddNurse";
}
@inject BLL.Services.ReservationServices.IReservationServices Serv

<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">add nurse</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                add nurse
            </li>
        </ol>
    </nav>
    <form asp-controller="Nurse" asp-action="AddNurse" method="post" enctype="multipart/form-data">
        <!-- Basic Information  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Basic Information</h3>
                        <small>Description text here...</small>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <!-- Name -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control input" asp-for="Name" placeholder="Name" required />
                                    <label for="floatingInput"> Name</label>
                                </div>
                            </div>
                            <!-- Date -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="date" data-provide="datepicker" data-date-autoclose="true" asp-for="BirthDate" class="form-control input" placeholder="Date of Birth" required />
                                    <label for="floatingInput">Date of Birth</label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- address -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control input"asp-for="Address" placeholder="address" required />
                                    <label for="floatingInput"> address</label>
                                </div>
                            </div>
                            <!-- city -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <select class="form-select form-control form-control show-tick input" placeholder="city">
                                        <option selected>- city -</option>
                                        <option value="Cairo"> Cairo </option>
                                        <option value="Giza"> Giza </option>
                                        <option value="Alexandria"> Alexandria </option>
                                        <option value="Dakahlia"> Dakahlia </option>
                                        <option value="Beheira"> Beheira </option>
                                        <option value="Fayoum"> Fayoum </option>
                                        <option value="Gharbia"> Gharbia </option>
                                        <option value="Alexandria"> Alexandria </option>
                                        <option value="Ismaïlia"> Ismaïlia </option>
                                        <option value="Qalyubia"> Qalyubia </option>
                                        <option value="Luxor"> Luxor </option>
                                        <option value="New Valley"> New Valley </option>
                                        <option value="Sharqia"> Sharqia </option>
                                        <option value="Suez"> Suez </option>
                                        <option value="Aswān"> Aswān </option>
                                        <option value="Asyūt"> Asyūt </option>
                                        <option value="Beni Suef"> Beni Suef </option>
                                        <option value="Port Said"> Port Said </option>
                                        <option value="Damietta"> Damietta </option>
                                        <option value="Kafr el-Sheikh"> Kafr el-Sheikh </option>
                                        <option value="Matrouh"> Matrouh </option>
                                        <option value="Menoufia"> Menoufia </option>
                                        <option value="Qena"> Qena </option>
                                        <option value="Sohag"> Sohag </option>
                                        <option value="South Sinai"> South Sinai </option>
                                        <option value="South Sinai"> South Sinai </option>
                                        <option value="North Sinai"> North Sinai </option>
                                    </select>
                                    <label for="Daywork">- city -</label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- image -->
                            <div class="col-sm-6 mb-3 image">
                                <div class="input-group mb-3">
                                    <label class="input-group-text image-lable" for="inputGroupFile01">Image</label>
                                    <input type="file" class="form-control form-control-lg " asp-for="PhotoUrl" id="inputGroupFile01">
                                </div>
                            </div>
                            <!-- id number -->
                            <div class="col-sm-3 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="number" class="form-control input" placeholder="National Number " asp-for="SSN" maxlength="14" required />
                                    <label for="NationalNumber">National Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- Phone -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="number" class="form-control input" placeholder="Phone" asp-for="Phone" maxlength="11" required />
                                    <label for="Phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <select class="form-select form-control form-control show-tick input" asp-for="ShiftId" placeholder="Time shift ">
                                        <option selected>- Time shift -</option>
                                        @foreach (var item in Serv.GetAllShifts())
                                        {
                                            <option value="@item.Id">@item.StartShift - @item.EndShift</option>
                                        }
                                    </select>
                                    <label for="Timeshift">- Time shift -</label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- gender -->
                            <div class="col-sm-6 mb-3">
                                <label class="col-form-label col-sm-3 col-md-2 label-align d-inline">
                                    Gender
                                </label>
                                <div class="col-8 col-sm-8 col-md-8 floatingInput">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="flat " value="male"  checked
                                                   name="Gender" />
                                            male
                                        </label>
                                    </div>
                                    <div class="radio mt-1">
                                        <label>
                                            <input type="radio" class="flat" value="fmale" name="Gender" />
                                            fmale
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nurse's Account Information  -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Nurse's Account Information</h3>
                        <small>Description text here...</small>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <!--Email  -->
                            <div class="col-sm-12 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="email" class="form-control input" placeholder="Enter Your Emai" asp-for="Email" required />
                                    <label for="floatingInput">Enter Your Email</label>
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control password input" asp-for="Password" placeholder="Password" required name="password" />
                                    <label for="floatingInput">Password</label>
                                </div>
                            </div>
                            <!-- Confirm Password -->
                            <div class="col-sm-6 mb-3">
                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                    You should check in on some of those fields below.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control password input" placeholder="Confirm Password" required name="password"  />
                                    <label for="floatingInput">Confirm Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- NurseSocial Media Info -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>NurseSocial Media Info</h3>
                        <small>Description text here...</small>
                    </div>
                    <div class="body social">
                        <div class="row clearfix">
                            <!-- facebook -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="facebook">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </span>
                                    <input type="text" for="facebook" class="form-control" placeholder="facebook" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <!-- twitter -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="twitter">
                                        <i class="fa-brands fa-twitter"></i>
                                    </span>
                                    <input type="text" for="twitter" class="form-control" placeholder="twitter" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <!-- whatsapp -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="whatsapp">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </span>
                                    <input type="text" for="whatsapp" class="form-control" placeholder="whatsapp" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="button-submit">
                    <div class="body social">
                        <div class="row clearfix">
                            <div class="form-group mb-4 pt-2">
                                <button type="submit" class="btn btn-primary Submit">Submit</button>
                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>