@model SurgeryViewModel
@{
    ViewBag.Title = "Create Surgery";
}
<!-- page content -->
<script src="~/jquery/jquery.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">Create Surgery</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Create Surgery
            </li>
        </ol>
    </nav>
    @if (ViewBag.Surgery != "" && ViewBag.Surgery != "1")
    {
        <script>
           
              swal("Success", "You clicked the button!", "success").then(function () {
                 $(".A1 input").val("");
                
            });

        </script>
    }


    <form class="A1" asp-controller="Surgery" asp-action="AddSurgery" method="post" style="height: 100vh;">
        <!-- Basic Information  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Surgery Information</h3>
                    </div>
                    <div class="body">
                        @*Validation*@
                        @if (ViewBag.Surgery == "1")
                        {
                            <div class="row clearfix">
                                <div class="col-sm-12 mb-4">
                                    <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 " role="alert">
                                        Please Change Surgery Name it Used before
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                    </div>
                                    <div class="form-floating">
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Surgery Name -->
                        <div class="row clearfix">
                            <div class="col-sm-12 mb-4">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-file-waveform"></i>
                                    </span>
                                    <input asp-for="Name" type="text" class="form-control input"
                                        placeholder="Surgery Name" required />
                                    <label for="floatingInput">Surgery Name</label>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Surgery Price -->
                        <div class="row clearfix">
                            <div class="col-sm-12 mb-4">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-tags"></i>
                                    </span>
                                    <input asp-for=Price type="text" class="form-control input"
                                        placeholder="Surgery Price" required />
                                    <label for="floatingInput">Surgery Price</label>
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="button-submit">
                    <div class="body social">
                        <div class="row clearfix">
                            <div class="form-group mb-4 pt-2">
                                <button type="submit" class="btn btn-primary Submit">Create</button>
                                <button onclick="history.back()" class="btn btn-secondary"><i
                                        class="fas fa-angle-double-left"></i> Back </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /page content -->
<!-- footer content -->
<!-- /footer content -->
<!-- move to up -->
<div class="up-btn shadow position-fixed rounded-lg" id="moveTop">
    <button type="button" class="btn btn-lg shadow text-light m-0">
        <i class="fa-solid fa-turn-up"></i>
    </button>
</div>

<!-- js -->
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    let alert = document.querySelectorAll('.alert')
    input = document.querySelectorAll('.input');

    for (let i = 0; i < input.length; i++) {
        input[i].addEventListener('keyup', () => {
            if (input[i].value === "")
                alert[i].classList.remove('d-none')
            else
                alert[i].classList.add('d-none')
        })
    }
</script>
