
@{
    ViewBag.Title = "AboutUs";
    Layout = "/Views/Shared/Layout/HCRWebsiteLayout.cshtml";
}
<!-- BREADCRUMB
            ============================================= -->
<div id="breadcrumb" class="division">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" breadcrumb-holder">

                    <!-- Breadcrumb Nav -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>

                    <!-- Title -->
                    <h4 class="h4-sm steelblue-color">About Us</h4>

                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</div> <!-- END BREADCRUMB -->
<!-- INFO-4
    ============================================= -->
<section id="info-4" class="wide-100 info-section division">
    <div class="container">


        <!-- TOP ROW -->
        <div class="top-row mb-80">
            <div class="row d-flex align-items-center">


                <!-- INFO IMAGE -->
                <div class="col-lg-6">
                    <div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
                        <img class="img-fluid" src="~/website/images/chief_doctor_700x800.jpg" alt="info-image">
                    </div>
                </div>


                <!-- INFO TEXT -->
                <div class="col-lg-6">
                    <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

                        <!-- Section ID -->
                        <span class="section-id blue-color">Welcome to HCR</span>

                        <!-- Title -->
                        <h3 class="h3-md steelblue-color">Clinic with Innovative Approach to Treatment</h3>

                        <!-- Text -->
                        <p>
                            An enim nullam tempor sapien gravida donec pretium ipsum porta justo integer at odio
                            velna vitae auctor integer congue magna purus pretium ligula rutrum luctus ultrice
                            aliquam
                            a augue suscipit
                        </p>

                        <!-- Text -->
                        <p>
                            Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus
                            feugiat
                            dolor lacinia cubilia curae integer congue leo metus, eu mollislorem primis in orci
                            integer
                            metus mollis faucibus. An enim nullam tempor sapien gravida donec pretium and ipsum
                            porta
                            justo integer at velna vitae auctor integer congue
                        </p>

                        <!-- Singnature -->
                        <div class="singnature mt-35">

                            <!-- Text -->
                            <p class="p-small mb-15">Randon Pexon, Head of Clinic</p>

                            <!-- Singnature Image -->
                            <!-- Recommended sizes for Retina Ready displays is 400x68px; -->
                            <img class="img-fluid" src="~/website/images/signature.png" width="200" height="34"
                                 alt="signature-image" />

                        </div>

                    </div>
                </div> <!-- END TEXT BLOCK -->


            </div> <!-- End row -->
        </div> <!-- END TOP ROW -->
        <!-- BOTTOM ROW -->
        <div class="bottom-row">
            <div class="row d-flex align-items-center">


                <!-- INFO TEXT -->
                <div class="col-lg-6">
                    <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

                        <!-- Section ID -->
                        <span class="section-id blue-color">Highest Quality Care</span>

                        <!-- Title -->
                        <h3 class="h3-md steelblue-color">Complete Medical Solutions in One Place</h3>

                        <!-- Text -->
                        <p class="mb-30">
                            An enim nullam tempor sapien gravida donec enim ipsum blandit
                            porta justo integer odio velna vitae auctor integer congue magna at pretium
                            purus pretium ligula rutrum itae laoreet augue posuere and curae integer
                            congue leo metus mollis primis and mauris
                        </p>

                        <!-- Options List -->
                        <div class="row">

                            <div class="col-xl-6">

                                <!-- Option #1 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">Nemo ipsam egestas volute and turpis dolores quaerat</p>
                                </div>

                                <!-- Option #2 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">Magna luctus tempor</p>
                                </div>

                                <!-- Option #3 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">An enim nullam tempor at pretium purus blandit</p>
                                </div>

                            </div>

                            <div class="col-xl-6">

                                <!-- Option #4 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">Magna luctus tempor blandit a vitae suscipit mollis</p>
                                </div>

                                <!-- Option #5 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">Nemo ipsam egestas volute turpis dolores quaerat</p>
                                </div>

                                <!-- Option #6 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">An enim nullam tempor</p>
                                </div>

                            </div>

                        </div> <!-- End Options List -->

                    </div>
                </div> <!-- END INFO TEXT -->
                <!-- INFO IMAGE -->
                <div class="col-lg-6">
                    <div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
                        <img class="img-fluid" src="~/website/images/emergency_help_700x800.jpg" alt="info-image">
                    </div>
                </div>


            </div> <!-- End row -->
        </div> <!-- END BOTTOM ROW -->


    </div> <!-- End container -->
</section> <!-- END INFO-4 -->
<!-- STATISTIC-1
    ============================================= -->
<div id="statistic-1" class="bg-scroll statistic-section division">
    <div class="container white-color">
        <div class="row">


            <!-- STATISTIC BLOCK #1 -->
            <div class="col-md-6 col-lg-3">
                <div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Icon  -->
                    <span class="fa-solid fa-heart-pulse"></span>

                    <!-- Text -->
                    <h5 class="statistic-number">9,<span class="count-element">632</span></h5>
                    <p class="txt-400">Happy Patients</p>

                </div>
            </div>


            <!-- STATISTIC BLOCK #2 -->
            <div class="col-md-6 col-lg-3">
                <div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.6s">

                    <!-- Icon  -->
                    <span class="fa-solid fa-user-doctor"></span>

                    <!-- Text -->
                    <h5 class="statistic-number"><span class="count-element">178</span></h5>
                    <p class="txt-400">Qualified Doctors</p>

                </div>
            </div>


            <!-- STATISTIC BLOCK #3 -->
            <div class="col-md-6 col-lg-3">
                <div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.8s">

                    <!-- Icon  -->
                    <span class="fa-solid fa-bed-pulse"></span>

                    <!-- Text -->
                    <h5 class="statistic-number"><span class="count-element">864</span></h5>
                    <p class="txt-400">Clinic Rooms</p>

                </div>
            </div>


            <!-- STATISTIC BLOCK #4 -->
            <div class="col-md-6 col-lg-3">
                <div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="1s">

                    <!-- Icon  -->
                    <span class="fa-solid fa-hospital-user"></span>

                    <!-- Text -->
                    <h5 class="statistic-number"><span class="count-element">473</span></h5>
                    <p class="txt-400">Local Partners</p>

                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</div> <!-- END STATISTIC-1 -->
<!-- VIDEO-2
    ============================================= -->
<section id="video-2" class="wide-60 video-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- VIDEO LINK -->
            <div class="col-lg-6">
                <div class="video-preview mb-40 text-center wow fadeInUp" data-wow-delay="0.6s">

                    <!-- Change the link HERE!!! -->
                    <a class="video-popup1" href="https://www.youtube.com/embed/SZEflIVnhH8">

                        <!-- Play Icon -->
                        <div class="video-btn play-icon-blue">
                            <div class="video-block-wrapper">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>

                        <!-- Preview -->
                        <img class="img-fluid" src="~/website/images/video-1.png" alt="video-photo" />

                    </a>

                </div>
            </div> <!-- END VIDEO LINK -->
            <!-- VIDEO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block pc-30 mb-40 wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Section ID -->
                    <span class="section-id blue-color">Modern Medicine</span>

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Better Technologies for Better Healthcare</h3>

                    <!-- CONTENT BOX #1 -->
                    <div class="box-list m-top-15">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo
                            pretium
                            purus feugiat dolor impedit
                        </p>
                    </div>

                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Gravida quis vehicula magna luctus tempor quisque vel laoreet turpis urna augue,
                            viverra a augue eget dictum
                        </p>
                    </div>

                    <!-- CONTENT BOX #3 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo
                            pretium
                            purus feugiat dolor impedit
                        </p>
                    </div>

                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END VIDEO-2 -->
<!-- BANNER-5
    ============================================= -->
<section id="banner-5" class="pt-100 banner-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">Certified and Experienced Doctors</h3>

                <!-- Text -->
                <p>
                    Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero at tempus,
                    blandit posuere ligula varius congue cursus porta feugiat
                </p>

            </div>
        </div>


        <!-- BANNER IMAGE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-5-img wow fadeInUp" data-wow-delay="0.4s">
                    <img class="img-fluid" src="~/website/images/image-07.png" alt="banner-image" />
                </div>
            </div>
        </div>


    </div> <!-- End container -->
</section> <!-- END BANNER-5 -->
