@model DAL.Models.PatientLabViewModel
@{
    ViewBag.Title = "Patient Analysis Details";
    Layout = "/Views/Shared/Layout/HCRWebsiteLayout.cshtml";
    int id = ViewBag.id;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*@inject BLL.Services.PatientLabServices.IPatientLabServices GetData
    @{
        var data = GetData.GetByID(id);
    }*@
@*@inject BLL.Services.PatientServices.IPatientServices patientData;
    @{ int patientId = Model.PatientId;}
    @{var PatientData = await patientData.GetByID(patientId);}*@
@*<section id="contacts-1" class="wide-60 contacts-section division">*@
        <section id="info-6" class="bg-blue info-section division">
            <!-- TEXT BLOCK -->
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="txt-block pc-30 white-color wow fadeInUp" data-wow-delay="0.4s">

                            <!-- Section ID -->
                            <!-- Title -->
                            <h2 class="h2-md">Patient Analysis Details</h2>

                            <!-- CONTENT BOX #1 -->
                            <div class="box-list">
                                <div class="box-list-icon"><i class="fa fa-flask"></i></div>
                                <p>
                                    Analysis Name : @Model.LapName
                                </p>
                            </div>
                            <!-- CONTENT BOX #1 -->
                            <div class="box-list">
                                <div class="box-list-icon"><i class="fas fa-user-md"></i></div>
                                <p>
                                    Analysis Doctor Name : @Model.DoctorName
                                </p>
                            </div>
                            <!-- CONTENT BOX #1 -->
                            <div class="box-list">
                                <div class="box-list-icon"><i class="fas fa-calendar-alt"></i></div>
                                <p>
                                    Date And Time : @Model.DateAndTime
                                </p>
                            </div>

                            <!-- Button -->
                            @*Analysis Document report*@
                            <div class="col-md-6 col-sm-12 ">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-tra-white blue-hover mt-25" data-bs-toggle="modal" data-bs-target="#Document">
                                    View Analysis Document Report
                                </button>

                                <!-- Modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="Document" tabindex="-1" aria-labelledby="DocumentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" style="color:black" id="DocumentModalLabel">Analysis Document Report</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe class="w-100" style="height: 400px;" src="~/Files/LabResults/Documents/@Model.Document"></iframe>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            @*Analysis Photo report*@

                            <div class="col-md-7 col-sm-12 ">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-tra-white blue-hover mt-25" data-bs-toggle="modal" data-bs-target="#photo">
                                    View Analysis Photo Report
                                </button>


                                <!-- Modal -->
                                <div class="modal fade" id="photo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" style="color:black" id="exampleModalLabel">Analysis Photo Report</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe class="w-100" style="height: 400px;" src="~/Files/LabResults/Photos/@Model.Photo"></iframe>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- End row -->
                    </div> <!-- END TEXT BLOCK -->
                    <!-- INFO-6 IMAGE -->
                    <div class="info-6-img text-center"></div>
                </div>
            </div>

        </section>
@*</section>*@

<!-- jQuery -->
<script src="~/receptionist dashbord/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/receptionist dashbord/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="~/receptionist dashbord/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/receptionist dashbord/dist/js/demo.js"></script>

