
@{
    ViewData["Title"] = "Waiting Page";
    Layout = "~/Views/Shared/Layout/_ReseptionistLayout.cshtml";
}

@section PageHeader{
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fa fa-spinner" aria-hidden="true"></i> Radiology Waiting Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Radiology Waiting Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->

        <div class="card">
            <div class="card-header">
            </div>
            <!-- /.card-header -->
            <div class="card-body patients-wating">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Radiology Name</th>
                            <th>Doctor Name</th>
                            <th>Date And Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Trident</td>
                            <td> name Radiology</td>
                            <td>ahmed</td>
                            <td>Thu 9.00 Am</td>
                            <td>
                                <a asp-action="RadiologyDoctorWork" asp-controller="RadiologyDoctor" class="btn btn-success me-3">Accept</a>
                                <a href="#" class="btn btn-danger">Cancel</a>
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Radiology Name</th>
                            <th>Doctor Name</th>
                            <th>Date And Time</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->