
@{
    ViewBag.Title = "ConfirmForgetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>HCR | Forget password</title>

    <!-- Font Awesome -->
    <link href="../../vendors/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="../../vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="../../dist/css/en/main.css" rel="stylesheet" />
    <!-- <link href="../../dist/scss/ar/ar-main.css" rel="stylesheet" /> -->
</head>

<body class="bg-login-patient" style="height: 100vh;">
    <section class="w-75 m-auto">
        <h1 class=" text-center team-light"><i class="fa-solid fa-headset"></i></h1>     
                <div class="mt-2">
                    <div class="mt-2">
                        <div class="form-group mb-3 pt-2 w-50 m-auto row">
                            <h1 class="text-light mt-3 fs-6">Password reset link has been sent, Please check your email inbox</h1>
                            <a asp-controller="Account" asp-action="PatientLogin" class="btn col">Sign In ?</a>
                        </div>
                    </div>
                </div>
    </section>
    <!-- js -->
    <!-- Bootstrap -->
    <script>
        let alert = document.querySelectorAll('.alert')
        input = document.querySelectorAll('.input');

        for (let i = 0; i < input.length; i++) {
            input[i].addEventListener('keyup', () => {
                if (input[i].value === "")
                    alert[i].classList.remove('d-none')
                else
                    alert[i].classList.add('d-none')
            }
            )
        }
    </script>
    <!-- <script src="../../vendors/bootstrap/dist/js/bootstrap.js"></script> -->
    <!-- Custom Theme Scripts -->
    <!-- <script src="../../dist/js/custom.js "></script> -->

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>