@model ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCR | Reset Password</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/receptionist dashbord/dist/css/style.css">
</head>

<body class="hold-transition login-page">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card pt-3 pb-3">
            <div class="login-logo">
                <b>HCR </b> Reset Password
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">Enter Your New Password</p>
                <form asp-action="ResetPassword" asp-controller="Account" method="post">
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />
                    <!--New Password -->
                    <div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" asp-for="Password" placeholder="New Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <br />
                    </div>

                    <!--Password -->
                    <div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <br />
                    </div>



                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>
                        <!-- /.col -->

                    <!--Log In ! -->
                    <p class="mb-1 mt-2">
                        <a asp-controller="Account" asp-action="Login">Sign In !</a>
                    </p>
                </form>

            </div>
            <!-- /.social-auth-links -->

        </div>
        <!-- /.login-card-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/receptionist dashbord/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/receptionist dashbord/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/receptionist dashbord/dist/js/adminlte.min.js"></script>
    <!-- Validation Plugin Js -->
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>



